/* google font import link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* Universal selector */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/***** header css start *****/
.header {
    background-image: url('images/banner/banner1.png');
    height: 800px;
    display: flex;
}

.header-left {
    width: 800px;
}

.header-right {
    padding: 200px 70px;
    width: 500px;
    text-align: right;
}

.header-title {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    color: #151414;

}

.header-para {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin: 25px 0px;
}

/******* button start ********/
.btn {
    width: 160px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    border: 0px;
}

small {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    color: #FFFFFF;
}

.btn:hover {
    background: #f04805;
}

/******* button end ******/

/***** header css end *****/

/* *******previous****** */
.previous {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 150px;
}

.previous-left {}

.previous-right {
    padding-left: 50px;
}

.previous-right h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.previous-right-para {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 24px;
}

.previous-right p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 8px;
}

span {
    color: #16D887;
    font-size: 14px;
    padding-right: 10px;
}

/* *******previous****** */

/******* Plans******** */
.plans-title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #151414;
    text-align: center;
    margin: 50px 0px;
}

.Plans {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 150px;
}

.single-plans img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.single-plans h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #151414;
    margin: 14px 0px;
}

.single-plans p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #737272;
}




/******* Plans******** */